<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Matheus Valencio Fonseca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">RA: 0050832011026</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="https://github.com/matheus-valencio"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <br /><br />
  <h1>BitCoin$</h1>
  <br />
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Data/Hora</th>
        <th>USD</th>
        <th>BRL</th>
      </tr>
    </thead>
    <tr *ngFor="let rate of this.bitcoinService.list">
      <td>{{ rate.time.updated }}</td>
      <td>{{ rate.bpi.USD.rate_float }}</td>
      <td>{{ rate.bpi.BRL.rate_float }}</td>
    </tr>
  </table>
</div>
